body {
  line-height: 1.5;
  background-color: rgb(43, 43, 43);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  font-family: "Oswald", sans-serif;
  color: rgb(31, 31, 31);
  font-size: 3rem;
  padding: 1rem;
  color: whitesmoke;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  color: whitesmoke;
  font-family: "roboto", sans-serif;
}

#nameday {
  margin-bottom: 0.5rem;
}

.custom-select {
  background-color: rgb(230, 230, 230);
  border: none;
  margin: auto;
}

#search-form {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

#search-form #query-wrapper {
  display: flex;
  margin-bottom: 0.5rem;
}

#search-form #query {
  background-color: rgb(230, 230, 230);
  border: none;
  margin-right: 1rem;
}

#search-form #query:focus {
  box-shadow: none;
  border-bottom-color: #777;
}

#search-results .col {
  display: flex;
  margin-bottom: 1.5rem;
}

.card-body {
  border: none;
  text-align: center;
}

.mb-4 {
  margin: auto;
}

.card-country {
  font-weight: bold;
}

.input-group .custom-select:not(:last-child) {
  margin-right: 1rem;
}

.mb-3 {
  max-width: 50%;
  margin: auto;
}
